@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        
    :root{
        --verde-floresta: #042A2B; /*fundo principal*/
        --verde-musgo: #283c25;    
        --verde-folha: rgb(51, 99, 64);
        --cor-destaque: #eefaee;   /*textos*/
    }

    *{
        margin: 0;
        padding: 0;
        zoom: 100%;
        user-select: none;
    }
    html, body{
        overflow: hidden;
    }

    body{
        background: linear-gradient(45deg, var(--verde-floresta), var(--verde-musgo));
        background-size: 400% 400%;
        animation: gradientShift 4s ease infinite;
        width: 100vw;
        height: 100vh;
        
    }
    @keyframes gradientShift{
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .imagem{
        width: 800px;
        height: 600px;
        background-image: url(../assets/menu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: auto;
    }
    .title{
        position: absolute; 
        color: var(--cor-destaque);
        white-space: nowrap; /*Retirar a quebra de linha*/ 
        font-family: "Press Start 2P", system-ui;
        font-weight: 100;
        font-size: 40px;
        top: 27.2%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 3px 3px 2px #00000063;
    }
    .botoes{
        position: absolute;
        width: 300px;
        height: 320px;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 60px;
    }

    .botao{
        width: 300px;
        height: 50px;
        margin: auto;
        font-family: "Press Start 2P", system-ui;
        text-align: center;
        margin-top:25px;
        font-size: 30px;
        text-shadow: 3px 3px 2px #00000063;
    }

    .botao:hover{
        transform: scale(1.05);

    }

    a{
        color: var(--cor-destaque);
        text-decoration: none;
    }
    a:hover{
        color: var(--cor-destaque);
    }

    div#dica{
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        text-align: center;
        color: white;
        font-family: "Press Start 2P", system-ui;
    }